@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('../shared/assets/fonts/Inter-VariableFont.woff2');
}

@theme {
  --font-inter: 'Inter';

  /* Color Palette */
  --color-primary: #3b82f6;
  --color-primary-hover: #1d4ed8;
  --color-primary-emphasis: #2563eb;
  --color-primary-subtle: #dbeafe;
  --color-primary-ultrasubtle: #eff6ff;

  --color-danger-hover: #b91c1c;
  --color-danger: #dc2626;
  --color-danger-subtle: #fee2e2;

  --color-success-hover: #047857;
  --color-success: #059669;
  --color-success-subtle: #d1fae5;

  --color-warning-subtle: #fff2e3;
  --color-warning-border: #fdba74;
  --color-warning-text: #9a3412;

  --color-text-default: #1e293b;
  --color-text-heading: #0f172a;
  --color-text-muted: #64748b;
  --color-text-inverse: white;

  --color-background-default: white;
  --color-background-muted: #e2e8f0;
  --color-background-hover: #f1f5f9;
  --color-background-muted-hover: #cbd5e1;

  --color-border-default: #b6c2d1;

  --color-shadow-default: rgb(15, 23, 42, 0.1);
}

@layer base {
  html {
    font-family: theme('fontFamily.inter');
    scrollbar-gutter: stable;
  }
}
